@font-face {
    font-family: "Montserrat";
        font-style: normal;
        font-weight: 300;
        src: local("Montserrat"),
                url("Montserrat-Regular.woff") format("woff");
    }
.ttle{
    font-size: 48px;
}
.h1{
    font-size: 36px;
}
.btn {
    font-size: 22px;
}
.load{
    font-size: 22px;
}
